In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

In [ ]:
# A dictionary ofhigh schools and the type of school.
high_school_type = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_type:
    print(school)

In [ ]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [ ]:
# Add the Pandas dependency
import pandas as pd

In [ ]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

In [ ]:
for school in high_schools:
    print (school)

In [ ]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [ ]:
# Three seperate lists of info on high schools
school_id = [1, 2, 3, 4, 5]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school


# Print the DataFrame.
schools_df

In [ ]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'School Name':school_name, 'School Type':type_of_school}

In [ ]:
school_df = pd.DataFrame(high_school_dict)
print(high_school_dict)

In [ ]:
school_df = pd.DataFrame(high_school_dict)
high_school_dict

In [ ]:
school_df = pd.DataFrame(high_schools_dict)
school_df

In [ ]:
school_df.columns

In [ ]:
school_df.index

In [ ]:
school_df.values

In [ ]:
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

school_type = ["District", "District", "Charter", "District","Charter","Charter", "Charter", "District", "Charter", "Charter","Charter","District","District","District", "Charter"]

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = high_schools
schools_df["School Type"] = school_type


# Print the DataFrame.
schools_df

In [ ]:
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

school_type = ["District", "District", "Charter", "District","Charter","Charter", "Charter"]

In [ ]:
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

school_type = ["District", "District", "Charter", "District","Charter","Charter", "Charter"]

In [ ]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = high_schools
schools_df["School Type"] = school_type


# Print the DataFrame.
schools_df

In [ ]:
school_type = ["District", "District", "Charter", "District","Charter","Charter", "Charter", "District", "Charter", "Charter","Charter","District","District","District", "Charter"]

In [ ]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = high_schools
schools_df["School Type"] = school_type


# Print the DataFrame.
schools_df

In [ ]:
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

school_type = ["District", "District", "Charter", "District","Charter","Charter", "Charter", "District", "Charter", "Charter","Charter","District","District","District", "Charter"]

In [ ]:
schools_df["School ID"] = school_id

In [1]:
school_df.columns

NameError: name 'school_df' is not defined

In [1]:
school_data_df.count(
)

NameError: name 'school_data_df' is not defined